* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: 'Montserrat', sans-serif; }

html {
  font-size: 10px; }

body {
  width: 100%;
  background-color: black; }

.zoom_container {
  position: relative;
  overflow: hidden; }
  .zoom_container .zoom_img {
    transition: all .6s ease;
    max-width: 100%;
    transform: scale(1.1);
    opacity: .6; }
    .zoom_container .zoom_img:hover {
      transform: scale(1.2);
      opacity: 1; }

.btn {
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  padding: .8rem;
  border: .16rem solid white;
  border-radius: 1.3em;
  font-weight: bold;
  transition: all .5s ease; }
  .btn:hover {
    background-color: rgba(255, 255, 255, 0.301);
    color: #2ECA74; }

header {
  background-image: url("../img/glowneZdjecie.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 90rem;
  width: 100%;
  position: relative; }
  header nav {
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    width: 100%;
    color: white;
    background-color: rgba(255, 255, 255, 0.281); }
    header nav a.navbar-brand {
      color: white;
      font-size: 2rem;
      font-weight: bold; }
    header nav .navbar-collapse .navbar-nav a.nav-item {
      color: white;
      text-transform: uppercase;
      transition: color .5s ease;
      padding: 1rem;
      padding-right: 2rem; }
      header nav .navbar-collapse .navbar-nav a.nav-item:hover {
        font-weight: bold; }

main h2 {
  font-size: 5rem;
  font-weight: 200;
  color: white;
  padding: 4rem;
  text-align: center;
  letter-spacing: .2rem; }

#menu {
  font-size: 1.6rem; }

#about {
  padding: 1rem;
  margin: 1%; }
  #about .img_about {
    border: .4rem solid white;
    max-height: 50rem; }
  #about p {
    font-size: 1.4rem;
    color: white;
    text-align: justify;
    padding-left: 2rem; }

#contact {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center; }
  #contact::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(135deg, white 10%, white 100%);
    opacity: 1; }
  #contact h3 {
    font-size: 2rem;
    letter-spacing: .4rem;
    font-weight: bolder;
    padding: 1.5rem;
    text-transform: uppercase; }
  #contact h2 {
    color: black; }
  #contact .contact_data {
    letter-spacing: .3rem; }
    #contact .contact_data p {
      font-size: 1.4rem;
      line-height: 2.5rem; }
  #contact form {
    font-size: 1.2rem; }
    #contact form .btn {
      margin: 0 auto;
      width: 100%; }
  #contact .row {
    padding-bottom: 3rem; }

.container-fluid {
  padding: 0; }

.iframe {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .iframe iframe {
    width: 100%; }

.filler {
  width: 100%;
  display: block;
  background-image: linear-gradient(135deg, #81FBB8 10%, #28C76F 100%);
  padding: 2%; }
  .filler p {
    color: white;
    font-style: italic;
    font-size: 2.8rem;
    font-family: 'Clicker Script', cursive; }
  .filler .btn {
    font-size: 1.4rem;
    padding: 1.1rem; }

@media all and (max-width: 760px) {
  .logo {
    text-align: center; }
    .logo h1 {
      font-size: 15rem; }
    .logo p {
      font-size: 3.5rem; } }
@media all and (max-width: 463px) {
  .logo h1 {
    font-size: 9rem; }

  .logo p {
    font-size: 3rem; } }
@media all and (max-width: 991px) {
  #about_us p {
    padding-top: 4rem; } }

/*# sourceMappingURL=style.css.map */
